{% include "partials/jobs/survey_files_list.html" %}
{% if survey_upload_error %}
<p class="error">{{ survey_upload_error }}</p>
{% endif %}
{% from "partials/_status.html" import job_status_badge with context %}
<span id="job-status" hx-swap-oob="innerHTML">{{ job_status_badge(job.status) }}</span>
<div id="parsed-aps" hx-swap-oob="innerHTML">
  {% include "partials/jobs/parsed_aps.html" %}
</div>
<div id="merged-results" hx-swap-oob="innerHTML">
  {% include "partials/jobs/merged_results.html" %}
</div>
